<!doctype html>
{% load static %}


<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400;0,600;0,700;1,400&family=Inter:wght@400;700&display=swap" rel="stylesheet">
	<link href="{%static 'css/bootstrap.css'%}" rel="stylesheet" />
	<link href="{%static 'css/styles.css' %}" rel="stylesheet" />

	<link rel="stylesheet" href="{%static 'fonts/icomoon/style.css'%}">
	<link rel="stylesheet" href="{%static 'css/tiny-slider.css'%}">
	<link rel="stylesheet" href="{%static 'css/aos.css'%}">
	<link rel="stylesheet" href="{%static 'css/style.css'%}">

	<title>tripinseoul</title>
</head>
<body>
    {% include 'main/nav2.html' %}

	{% block content %}             
 
	{% endblock %}

    {% include 'main/footer2.html' %}

		<script src="{%static 'js/tiny-slider.js' %}"></script>
        <script src="{%static 'js/bootstrap.js'%}"></script>
        <script src="{%static 'js/scripts.js'%}"></script>
		<script src="{%static 'js/aos.js'%}"></script>
		<script src="{%static 'js/navbar.js' %}"></script>
		<script src="{%static 'js/rellax.js' %}"></script>
</body>
</html>