
<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
            <span class="icofont-close js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>



 <div class="hero overlay">

    <div class="img-bg rellax">
        <img src="static/images/namsan.jpg" alt="Image" class="img-fluid">
    </div>

    <div class="container">
        <div class="row align-items-center justify-content-start">
            <div class="col-lg-5">

                <h1 class="heading" data-aos="fade-up">도심에서의 특별한 순간</h1>
                <p class="mb-5" data-aos="fade-up">서울 안의 핫플레이스, 맛집, 카페까지</p>

            </div>

            
        </div>
    </div>

    
</div> 

<div class="section section-3" data-aos="fade-up" data-aos-delay="100">
    <div class="container">
        <div class="row align-items-center justify-content-between  mb-5">
            <div class="col-lg-5" data-aos="fade-up">
                <h2 class="heading mb-3">Discover your places</h2>
            </div>		
            <div class="col-lg-5 text-md-end" data-aos="fade-up" data-aos-delay="100">
                <div id="destination-controls">
                    <span class="prev me-3" data-controls="prev">
                        <span class="icon-chevron-left"></span>

                    </span>
                    <span class="next" data-controls="next">
                        <span class="icon-chevron-right"></span>

                    </span>
                </div>
            </div>
        </div>	

    </div>		

     <div class="destination-slider-wrap">
        <div class="destination-slider">
            <div class="destination">
                <div class="thumb">
                    <img src="static/images/book.jpg" alt="Image" class="img-fluid">
                </div>
                <div class="mt-4">
                    <h3><a href="#">아크앤북 잠실점</a></h3>
                    <span class="meta">서울 송파구</span>
                </div>
            </div>

            <div class="destination">
                <div class="thumb">
                    <img src="static/images/gwanghwa.jpg" alt="Image" class="img-fluid">
                </div>
                <div class="mt-4">
                    <h3><a href="#">광화문광장</a></h3>
                    <span class="meta">서울 종로구, 광화문</span>
                </div>
            </div>

            <div class="destination">
                <div class="thumb">
                    <img src="static/images/sinsa.jpg" alt="Image" class="img-fluid">
                </div>
                <div class="mt-4">
                    <h3><a href="#">신사하우스 Sinsa house</a></h3>
                    <span class="meta">서울 강남구, 가로수길</span>
                </div>
            </div>

            <div class="destination">
                <div class="thumb">
                    <img src="{%static 'images/light.jpg'%}" alt="Image" class="img-fluid">
                </div>
                <div class="mt-4">
                    <h3><a href="#">빛의 시어터</a></h3>
                    <span class="meta">서울시, 광진구</span>
                </div>
            </div>


            <div class="destination">
                <div class="thumb">
                    <img src="static/images/siso.jpg" alt="Image" class="img-fluid">
                </div>
                <div class="mt-4">
                    <h3><a href="#">그라운드시소 성수</a></h3>
                    <span class="meta">서울시 성동구, 성수동2가</span>
                </div>
            </div>

            <div class="destination">
                <div class="thumb">
                    <img src="static/images/sinsa.jpg" alt="Image" class="img-fluid">
                </div>
                <div class="mt-4">
                    <h3><a href="#">1유로 프로젝트 코끼리 멘션/a></h3>
                    <span class="meta">서울 성동구, 송정동</span>
                </div>
            </div>
        </div>
    </div>

</div> 


<div class="section bg-light">

    <h2 class="heading mb-5 text-center">Community</h2>

    <div class="text-center mb-5">
        <div id="prevnext-testimonial">
            <span class="prev me-3" data-controls="prev">
                <span class="icon-chevron-left"></span>

            </span>
            <span class="next" data-controls="next">
                <span class="icon-chevron-right"></span>

            </span>
        </div>
    </div>

    <div class="wide-slider-testimonial-wrap">
        <div class="wide-slider-testimonial">
            <div class="item">
                <blockquote class="block-testimonial">
                    <p>
                        <div class="quote">&ldquo;</div>
                    친구 생일케이크 사려하는데 연남동 부근에 괜찮은 케이크집 있을까요?</p>
                </blockquote>
            </div>

            <div class="item">
                <blockquote class="block-testimonial">
                    <p>
                        <div class="quote">&ldquo;</div>
                    성수 섬세이 테라리움같은 곳 아시는 분 추천부탁드려요.</p>

                </blockquote>
            </div>

            <div class="item">
                <blockquote class="block-testimonial">
                    <p>
                        <div class="quote">&ldquo;</div>
                    여러분의 원탑 서울 카페 알려주세요🙇‍♀️</p>
                </blockquote>
            </div>

            <div class="item">
                <blockquote class="block-testimonial">
                    <p>
                        <div class="quote">&ldquo;</div>
                    요즘 핫플인 전시회가 있을까요?</p>
                </blockquote>
            </div>

            <div class="item">
                <blockquote class="block-testimonial">
                    <p>
                        <div class="quote">&ldquo;</div>
                    성수동 맛집 추천해주세요!</p>

                </blockquote>
            </div>

            <div class="item">
                <blockquote class="block-testimonial">
                    <p>
                        <div class="quote">&ldquo;</div>
                    풍자 또간집에 추천하고 싶은 맛집이 있다면?</p>
                </blockquote>
            </div>
        </div>
    </div>



</div> <!-- /.untree_co-section -->

                    <div class="accordion-item">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">We are better than others?</button>
                        </h2>

                        <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-bs-parent="#accordion_1">
                            <div class="accordion-body">
                            </div>
                        </div>

                    </div> 

                </div>
            </div>
        </div>
    </div>
</div>







    <!-- Preloader -->
    <div id="overlayer"></div>
    <div class="loader">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>