<div class="site-footer">
    <div class="container">

        <div class="row">
            <div class="col-lg-4">
            <div class="widget">
                <h3>Connect</h3>
                <ul class="list-unstyled social">
                    <li><a href="#"><span class="icon-instagram"></span></a></li>
                    <li><a href="#"><span class="icon-twitter"></span></a></li>
                    <li><a href="#"><span class="icon-facebook"></span></a></li>
                    <li><a href="#"><span class="icon-linkedin"></span></a></li>
                    <li><a href="#"><span class="icon-pinterest"></span></a></li>
                    <li><a href="#"><span class="icon-dribbble"></span></a></li>
                </ul>
            </div> 
        </div> 

            <div class="col-lg-2 ml-auto">
                <div class="widget">
                    <h3>Links</h3>
                    <ul class="list-unstyled float-left links">
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">News</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div> 
            </div> 

            <div class="col-lg-3">
                <div class="widget">
                    <h3>Contact</h3>
                    <address>서울시 서초구 효령로 335</address>
                    <ul class="list-unstyled links mb-4">
                        <li><a href="tel://11234567890">+82(02)-000-0000</a></li>
                        <li><a href="tel://11234567890">+82(010)-0000-0000</a></li>
                        <li><a href="mailto:info@mydomain.com">info@mydomain.com</a></li>
                    </ul>
                </div> <!-- /.widget -->
            </div> <!-- /.col-lg-3 -->

        </div> <!-- /.row -->

        <div class="row mt-5">
            <div class="col-12 text-center">
                <div class="credits ml-auto">
                    <span class="copyright">
                        © <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by playdata team
                    </span>
                </p>
            </div>
        </div> <!-- /.container -->
    </div> <!-- /.site-footer -->