<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400;0,600;0,700;1,400&family=Inter:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="fonts/icomoon/style.css">
	<link rel="stylesheet" href="css/tiny-slider.css">
	<link rel="stylesheet" href="css/aos.css">
	<link rel="stylesheet" href="css/style.css">

	<title>tripinseoul</title>
</head>
<body>

	<div class="site-mobile-menu site-navbar-target">
		<div class="site-mobile-menu-header">
			<div class="site-mobile-menu-close">
				<span class="icofont-close js-menu-toggle"></span>
			</div>
		</div>
		<div class="site-mobile-menu-body"></div>
	</div>

	<nav class="site-nav mt-3">
		<div class="container">

			<div class="site-navigation">
				<div class="row">
					<div class="col-6 col-lg-3">
						<a href="index.html" class="logo m-0 float-start">tripinseoul</a>
					</div>
					<div class="col-lg-6 d-none d-lg-inline-block text-center nav-center-wrap">
						<ul class="js-clone-nav  text-center site-menu p-0 m-0">
							<li class="active"><a href="index.html">Home</a></li>
							<li><a href="about.html">About us</a></li>
							<li class="has-children">
								<a href="#">Dropdown</a>
								<ul class="dropdown">
									<li><a href="#">핫플레이스</a></li>
									<li class="has-children">
										<a href="#">맛집</a>
										<ul class="dropdown">
											<li><a href="#">지역별 맛집</a></li>
											<li><a href="#">메뉴별 맛집</a></li>
										</ul>
									</li>
									<li><a href="#">카페</a></li>
                                        <ul class="dropdown">
                                            <li><a href="#">지역별 카페</a></li>
                                    </ul>
								</ul>
							</li>
							<li><a href="services.html">Services</a></li>

						</ul>
					</div>
					<div class="col-6 col-lg-3 text-lg-end">
						<ul class="js-clone-nav d-none d-lg-inline-block text-end site-menu ">
							<li class="cta-button"><a href="login.html">Login</a></li>
						</ul>

						<a href="#" class="burger ms-auto float-end site-menu-toggle js-menu-toggle d-inline-block d-lg-none light" data-toggle="collapse" data-target="#main-navbar">
							<span></span>
						</a>
					</div>
				</div>
			</div>
			
		</div>
	</nav>

	

	<div class="hero overlay">

		<div class="img-bg rellax">
			<img src="images/namsan.jpg" alt="Image" class="img-fluid">
		</div>

		<div class="container">
			<div class="row align-items-center justify-content-start">
				<div class="col-lg-5">

					<h1 class="heading" data-aos="fade-up">도심에서의 특별한 순간</h1>
					<p class="mb-5" data-aos="fade-up">서울 안 핫플레이스, 맛집, 카페까지</p>

				</div>

				
			</div>
		</div>

		
	</div>

	<div class="section section-3" data-aos="fade-up" data-aos-delay="100">
		<div class="container">
			<div class="row align-items-center justify-content-between  mb-5">
				<div class="col-lg-5" data-aos="fade-up">
					<h2 class="heading mb-3">Discover your places</h2>
				</div>		
				<div class="col-lg-5 text-md-end" data-aos="fade-up" data-aos-delay="100">
					<div id="destination-controls">
						<span class="prev me-3" data-controls="prev">
							<span class="icon-chevron-left"></span>

						</span>
						<span class="next" data-controls="next">
							<span class="icon-chevron-right"></span>

						</span>
					</div>
				</div>
			</div>	

		</div>		

		<div class="destination-slider-wrap">
			<div class="destination-slider">
				<div class="destination">
					<div class="thumb">
						<img src="images/book.jpg" alt="Image" class="img-fluid">
					</div>
					<div class="mt-4">
						<h3><a href="#">아크앤북 잠실점</a></h3>
						<span class="meta">서울 송파구, 송리단길</span>
					</div>
				</div>

				<div class="destination">
					<div class="thumb">
						<img src="images/gwanghwa.jpg" alt="Image" class="img-fluid">
					</div>
					<div class="mt-4">
						<h3><a href="#">광화문광장</a></h3>
						<span class="meta">서울 종로구, 광화문</span>
					</div>
				</div>

				<div class="destination">
					<div class="thumb">
						<img src="images/sinsa.jpg" alt="Image" class="img-fluid">
					</div>
					<div class="mt-4">
						<h3><a href="#">신사하우스 Sinsa house</a></h3>
						<span class="meta">서울 강남구, 가로수길</span>
						<br>
						<br>
						<h7> 마리끌레르 사진전 </h7>
					</div>
				</div>

				<div class="destination">
					<div class="thumb">
						<img src="images/light.jpg" alt="Image" class="img-fluid">
					</div>
					<div class="mt-4">
						<h3><a href="#">빛의 시어터</a></h3>
						<span class="meta">서울시, 광진구</span>
						<br>
						<br>
						<h7> 구스타프 클림트, 골드 인 모션 </h7>
					</div>
				</div>


				<div class="destination">
					<div class="thumb">
						<img src="images/siso.jpg" alt="Image" class="img-fluid">
					</div>
					<div class="mt-4">
						<h3><a href="#">그라운드시소 성수</a></h3>
						<span class="meta">서울시 성동구, 성수동2가</span>
						<br>
						<br>
						<h7> 웨스앤더스 감독 팬 커뮤니티 전시 </h7>
					</div>
				</div>

				<div class="destination">
					<div class="thumb">
						<img src="images/euro.jpg" alt="Image" class="img-fluid">
					</div>
					<div class="mt-4">
						<h3><a href="#">1유로 프로젝트 코끼리 멘션</a></h3>
						<span class="meta">서울 성동구, 송정동</span>
						<br>
						<br>
						<h7> 인큐베이팅 프로젝트 </h7>
						<br>
						<h7> 다수 브랜드가 함께 운영</h7>
					</div>
				</div>

				<div class="destination">
					<div class="thumb">
						<img src="images/orzo.jpg" alt="Image" class="img-fluid">
					</div>
					<div class="mt-4">
						<h3><a href="#">오르조르브텀</a></h3>
						<span class="meta">서울 강남구, 도산공원</span>
						<br>
						<br>
						<h7> 브런치 다이닝 레스토랑</h7>
						<br>
						<h7> 미슐랭 레스토랑 '오스테리아 오르조' 강진수 셰프 운영</h7>
					</div>
				</div>
			</div>
		</div>

	</div>


	<div class="section bg-light">
	
		<h2 class="heading mb-5 text-center">Community</h2>

		<div class="text-center mb-5">
			<div id="prevnext-testimonial">
				<span class="prev me-3" data-controls="prev">
					<span class="icon-chevron-left"></span>

				</span>
				<span class="next" data-controls="next">
					<span class="icon-chevron-right"></span>

				</span>
			</div>
		</div>

		<div class="wide-slider-testimonial-wrap">
			<div class="wide-slider-testimonial">
				<div class="item">
					<blockquote class="block-testimonial">
						<p>
							<div class="quote">&ldquo;</div>
						친구 생일케이크 사려하는데 연남동 부근에 괜찮은 케이크집 있을까요?</p>
					</blockquote>
				</div>

				<div class="item">
					<blockquote class="block-testimonial">
						<p>
							<div class="quote">&ldquo;</div>
						성수 섬세이 테라리움같은 곳 아시는 분 추천부탁드려요</p>

					</blockquote>
				</div>

				<div class="item">
					<blockquote class="block-testimonial">
						<p>
							<div class="quote">&ldquo;</div>
						여러분의 원탑 서울 카페 알려주세요🙇‍♀️</p>
					</blockquote>
				</div>

				<div class="item">
					<blockquote class="block-testimonial">
						<p>
							<div class="quote">&ldquo;</div>
						요즘 갈만한 전시회가 있을까요? </p>
					</blockquote>
				</div>

				<div class="item">
					<blockquote class="block-testimonial">
						<p>
							<div class="quote">&ldquo;</div>
						성수동 맛집 추천해주세요!ㅎㅎ😊</p>

					</blockquote>
				</div>

				<div class="item">
					<blockquote class="block-testimonial">
						<p>
							<div class="quote">&ldquo;</div>
						풍자 또간집에 추천하고 싶은 맛집이 있다면?</p>
					</blockquote>
				</div>
			</div>
		</div>



	</div> <!-- /.untree_co-section -->

						<div class="accordion-item">
							<h2 class="mb-0">
								<button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">We are better than others?</button>
							</h2>

							<div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-bs-parent="#accordion_1">
								<div class="accordion-body">
								</div>
							</div>

						</div> 

					</div>
				</div>
			</div>
		</div>
	</div>





	<div class="site-footer">
		<div class="container">

			<div class="row">
				<div class="col-lg-4">
				<div class="widget">
					<h3>Connect</h3>
					<ul class="list-unstyled social">
							<li><a href="#"><span class="icon-instagram"></span></a></li>
							<li><a href="#"><span class="icon-twitter"></span></a></li>
							<li><a href="#"><span class="icon-facebook"></span></a></li>
							<li><a href="#"><span class="icon-linkedin"></span></a></li>
						</ul>
				</div> 
			</div> 

				<div class="col-lg-2 ml-auto">
					<div class="widget">
						<h3>Links</h3>
						<ul class="list-unstyled float-left links">
							<li><a href="#">About us</a></li>
							<li><a href="#">Services</a></li>
							<li><a href="#">News</a></li>
							<li><a href="#">Careers</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
					</div> 
				</div> 

				<div class="col-lg-3">
					<div class="widget">
						<h3>Contact</h3>
						<address>서울시 서초구 효령로 335</address>
						<ul class="list-unstyled links mb-4">
							<li><a href="tel://11234567890">+82(02)-000-0000</a></li>
							<li><a href="tel://11234567890">+82(010)-0000-0000</a></li>
							<li><a href="mailto:info@mydomain.com">info@mydomain.com</a></li>
						</ul>
					</div> <!-- /.widget -->
				</div> <!-- /.col-lg-3 -->

			</div> <!-- /.row -->

			<div class="row mt-5">
				<div class="col-12 text-center">
					<div class="credits ml-auto">
						<span class="copyright">
							© <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by playdata team
						</span>
					</p>
				</div>
			</div> <!-- /.container -->
		</div> <!-- /.site-footer -->

		<!-- Preloader -->
		<div id="overlayer"></div>
		<div class="loader">
			<div class="spinner-border text-primary" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
		</div>

		<script src="js/tiny-slider.js"></script>
		<script src="js/aos.js"></script>
		<script src="js/navbar.js"></script>
		<script src="js/rellax.js"></script>
		<script src="js/custom.js"></script>
	</body>
	</html>