<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-white">
    <div class="container px-5">
        <a class="navbar-brand" style="color:rgb(0, 0, 0)" href="{%url 'main:home' %}">Trip</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    {% if user.is_authenticated %}
                    <a class="nav-link" style="color:rgb(0, 0, 0)" href="{% url 'common:logout' %}">
                        {{ user.username }} 로그아웃
                    </a>
                    {% else %}
                    <a class="nav-link" style="color:rgb(0, 0, 0)" href="{% url 'common:login' %}">로그인</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="{%url 'main:home' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{%url 'main:about' %}">About</a></li>
                <li class="nav-item"><a class="nav-link" href="{%url 'main:contact' %}">Contact</a></li>
                <li class="nav-item"><a class="nav-link" href="{%url 'main:faq' %}">FAQ</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Blog</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                        <li><a class="dropdown-item" href="{%url 'main:blog-home' %}">Blog Home</a></li>
                        <li><a class="dropdown-item" href="{%url 'main:blog-post' %}">Blog Post</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownPortfolio" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Portfolio</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPortfolio">
                        <li><a class="dropdown-item" href="{%url 'main:portfolio-overview' %}">Portfolio Overview</a></li>
                        <li><a class="dropdown-item" href="{%url 'main:portfolio-item' %}">Portfolio Item</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

